{% extends "base.html" %}

{% block app_content %}

<!-- <h2>Question 6</h2>
<form action="/six" method="get">
    <label>Click Submit</label><br />
    <input type="submit" value="Submit"><br /><br />
</form>

<h2>Question 8</h2>
<form action="/eight" method="get">
    <label>Provide N value:</label><br />
    <input type="number" name="num" value="7"><br>
    <label>Click Submit</label><br />
    <input type="submit" value="Submit"><br /><br />
</form>

<h2>six 6</h2>
<form action="/quizsix" method="get">
    <label>Enter the value N : </label><br />
    <input type="number" name = "num" value="3"><br><br>
    <input type="submit" value="Submit"><br /><br />
</form> -->



<h2>Assignment - 1 </h2>
<form action="/assOne" method="get">
    <label>Enter the value K : </label><br />
    <input type="number" name = "k" value="20"><br><br>
    <input type="submit" value="Submit"><br /><br />
</form>


<h2>Assignment - 2 </h2>
<form action="/assTwo" method="get">
    <label>Press Submit to remove stop word : </label><br />
    <input type="submit" value="Submit"><br /><br />
</form>


<h2>Assignment - 3 </h2>
<form action="/assThree" method="get">
    <label>Enter the text : </label><br />
    <input type="text" name="text" value="ab"><br><br>

    <label for = "freq">Enter the Frequency: </label>
    <input type="number" name = "k" value="2"><br><br>
    <input type="submit" value="Submit"><br /><br />
</form>

<h2>Assignment - 4 </h2>
<form action="/assFour" method="get">
    <label>Press Submit for bigrams : </label><br />
    <input type="submit" value="Submit"><br /><br />
</form>


<h2>Assignment - 4 part - 2</h2>
<form action="/assFour2" method="get">
    <label>Enter the number of grams you want : </label><br />
    <input type="number" name = "num" value="3"><br><br>
    <input type="submit" value="Submit"><br /><br />
</form>



<h2>Assignment - 5 </h2>
<form action="/assFive" method="get">
    <label for= "cha">Enter character to find its Frequency : </label><br />
    <input type="text" id="cha" name="cha" value= "a" ><br><br>
    <button type = "submit" value="Submit"> Submit </button><br><br>
</form>



<h2>Assignment - 6 </h2>
<form action="/assSix" method="get">
    <label for= "chapa">Enter character pair to find its Frequency : </label><br />
    <input type="text" id="cha" name="chapa" value= "el" ><br><br>
    <button type = "submit" value="Submit"> Submit </button><br><br>
</form>



<h2>Assignment - 6 part - 2 </h2>
<form action="/assSix2" method="get">
    <label for= "chapa">Enter character pair to find its Frequency : </label><br />
    <input type="text" id="cha" name="chapa" value= "el" ><br><br>
    <button type = "submit" value="Submit"> Submit </button><br><br>
</form>


<h2>Assignment - 7 </h2>
<form action="/assSeven" method="get">
    <label for= "cha">Enter character to find its Frequency : </label><br />
    <input type="text" id="cha" name="cha" value= "a" ><br><br>

    <label for= "sidecha">Enter character beside which you want to see : </label><br />
    <input type="text" id="cha" name="sidecha" value= "n" ><br><br>


    <button type = "submit" value="Submit"> Submit </button><br><br>
</form>


















{% endblock %}