{% extends "layout.html" %}
{% block content %}


<h2>
    - Pie Chart
</h2>
<form action="/assignment4pie" method="get">
    <p>Click here to display the Pie chart</p>
    <input type="submit" value="Pie Chart"><br /><br />
</form>

<h2>
     - Bar Chart
</h2>
<form action="/assignment4bar" method="get">
    <p>Click here to display the Bar chart</p>
    <input type="submit" value="Bar Chart"><br /><br />
</form>

<h2>
     - Scatter or Point Chart
</h2>
<form action="/assignment4scatter" method="get">
    <p>Click here to display the Scatter or Point chart</p>
    <input type="submit" value="Scatter or Point Chart"><br /><br />
</form>



<h2>
    - line chart
</h2>
<form action="/assignment4line" method="get">
    <p>Click here to display the line chart</p>
    <input type="submit" value="Line Chart"><br /><br />
</form>





{% endblock content %}